@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
* {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.main-wrapper {
	margin: 0 auto;
	width: 100%;
	padding-left: 240px;
	box-sizing: border-box;
}
.main-content {
	background: yellow;
}
// SIDE MENU STYLES
.side-menu {
	height: 100vh;
	width: 240px;
	display: flex;
	color: rgba(255,255,255,0.4);
	position: fixed;
}
.first-level {
	width: 240px;
	background: #333D47;
}
.second-level {
	display: block;
	width: 0;
	overflow: hidden;
	background: #333D47;
	z-index: 1;
	.cont-menu .menu-element:hover {border: none; padding: 18px;}
}
.cont-menu {display: none;}
.side-menu .menu-element {
	height: 60px;
	padding: 18px;
	box-sizing: border-box;
	line-height: 25px;
	color: rgba(255,255,255,0.8);
	white-space: nowrap;
	cursor: pointer;
	&:hover, &.active, &.active:hover {
		padding-left: 14px;
		border-left: 4px solid #92DEFF;
		background: #1E242A;
		color: #fff;
	}
}
.menu-section {
	margin-top: 20px;
	h2 {
		margin-left: 12px;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
		transition: all 0.2s linear;
	}
}
.section-heading {
	height: 47px;
	padding: 12px;
	white-space: nowrap;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	box-sizing: border-box;
	line-height: 25px;
	color: #fff;
}
.svg-elem {
	position: absolute;
	width: 24px;
	height: 24px;
	background: grey;
}
.item-name {margin-left: 42px;}
.logo {
	height: 60px;
	padding: 18px;
	color: #fff;
	line-height: 25px;
	box-sizing: border-box;
}